html,
.background-image {
  background-image: url(./images/history-of-table-setting.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  font-family: Tahoma;
  font-size: 16px;
  height: 100%;
  text-align: center;
  width: 100%;
}

h1 {
  color: red;
  font-size: 3rem;
  padding-top: 1em;
  -webkit-text-stroke: 2px navy;
}

form {
  margin: auto;
  width: 60vw;
}

label {
  display: block;
  margin: 1.5rem auto .5rem;
}

#number {
  width: 50%;
}

input {
  text-align: center;
  width: 60%;
}

input[type="submit"]  {
  margin: 10%;
  width: 50%;
}

input[type="submit"]:hover {
  color: blue;
}

.inline {
  width: unset;
}

textarea {
  font-family: Tahoma;
  font-size: .9rem;
  text-align: center;
  width: 90%;
}

#email {
  height: 25px;
}

#submit {
  margin: 2rem;
}

@media screen and (max-width: 400px) {

  body {
    font-size: .75rem;
  }

  h1 {
    font-size: 3em;
  }

  input, select {
    font-size: .50rem;
  }

.background-image {
  background-attachment: sticky;
  background-image: url(./images/history-of-table-setting.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 65%;
}

}
