html,
.background-image {
  background-image: url(./images/history-of-table-setting.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  height: 100%;
  
  font-family: Tahoma;
  font-size: 16px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: red;
  -webkit-text-stroke: 2px navy;
  padding-top: 1em;
}

form {
  width: 60vw;
  margin: auto;
}

label {
  display: block;
  margin: 1.5rem auto .5rem;
}

#number {
  width: 50%;
}

input {
  width: 60%;
  text-align: center;
}

input[type="submit"]  {
  width: 50%;
  margin: 10%
}

input[type="submit"]:hover {
  color: blue;
}

.inline {
  width: unset;
}

textarea {
  width: 90%;
  text-align: center;
  font-family: Tahoma;
  font-size: .9rem;
}

#email {
  height: 25px;
}

#submit {
  margin: 2rem;
}

@media screen and (max-width: 400px) {
  body {
    font-size: .75rem;
  }
  input, select {
    font-size: .50rem;
  }

.background-image {
  background-image: url(./images/history-of-table-setting.jpg);
  background-size: contain;
  background-attachment: sticky;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 65%;
}

}
